body {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    background-color:black;
}

.button-container {
    display: flex;
    justify-content: center;
}

button {
    padding: 20px;
    font-size: 18px;
    margin:10px;
}

#container {
    margin: 20px auto;
    width: 720px;
    height: 720px;
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(16, auto);
    grid-template-rows: repeat(16, auto)
}

.single-div {
    background-color: white;
    border: 1px lightgrey solid;
}

.single-div-drawn-black {
    background-color: black;
}
